
<div class="contentBox">
	<div class="subTitle">畜牧种类列表<button ng-click="openModal(lg)" type="button" class="btn btn-primary frMt3"><i class="fa fa-plus-square-o" aria-hidden="true"></i>  添加种类 </button></div>
	<div class="contList table-responsive">
		<table class="table table-bordered">
			<tr>
				<td>编号</td>
				<td>名称</td>
				<td>所属种类</td>
				<td>所在层级</td>
				<td>图片</td>
				<td>简介</td>
				<td>操作</td>
			</tr>
			<tr ng-repeat="ranchingType in data.ranchingTypeList">
				<td>{{ranchingType.rtNumber}}</td>
				<td>{{ranchingType.rtName}}</td>
				<td>{{ranchingType.rtParentName}}</td>
				<td>{{ranchingType.rtLevel}}</td>
				<td class="col-md-3"><img ng-src="{{ranchingType.rtImge}}" class="img-rounded"/></td>
				<td>{{ranchingType.rtProfile}}</td>
				<td>
					<p class="edit" ng-click="openModal(lg,ranchingType.rtId,$index)"><i class="fa fa-edit" aria-hidden="true"></i>编辑</p>
					<p class="delete" ng-click="delete(ranchingType,$index)"><i class="fa fa-trash-o" aria-hidden="true"></i>删除</p>
				</td>
			</tr>
		</table>
		<div class="pages" ng-if="data.count >0">
			<uib-pagination total-items="data.count" ng-model="data.page" num-pages="numPages" class="pagination-sm" max-size="maxSize"  force-ellipses="true" previous-text="上一页" next-text="下一页"></uib-pagination><!-- ng-change="commitCont();" -->
		</div>
	</div>
</div>